body {
  padding: 1em;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.left-icon, .suite.passed > .description, .suite.failed > .description {
  padding: 0 0 0 20px;
}

.rounded, .spec.failed {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.banner {
  overflow: hidden;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
  border-bottom: solid 2px #666;
}

.logo {
  float: left;
  display: inline-block;
  background: url("images/jasmine_favicon.png") no-repeat;
  padding: 0 0 0 18px;
}

.logo .title {
  font-size: 24px;
  color: #6c5e4b;
}

.options {
  color: transparent;
}

.options label {
  color: #666666;
}

.version {
  color: #666666;
  display: inline-block;
  color: #6c5e4b;
  margin: 0 0 0 1em;
  font-size: 0.75em;
}

.options {
  float: right;
}

.run_spec {
  float: right;
  color: #666666;
}

.runner {
  margin: 0 0 1.5em 0;
}

.runner .description {
  text-decoration: none;
  color: #333;
}

.runner.passed {
  border-color: #49C267;
}

.runner.passed .description {
  text-decoration: none;
  color: #49C267;
  font-weight: bold;
}

.runner.failed .description {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.runner .finished-at {
  float: right;
  font-size: 0.75em;
}

.runner .run_spec {
  background: url("images/icons.png") 0px -130px no-repeat;
  float: left;
  text-indent: -999em;
  margin: 0 0 0 0.5em;
}

.runner .finished-at {
  color: #666666;
}

.suite {
  padding: 0;
  border-bottom: none;
}

.suite.skipped {
  display: none;
}

.suite > .description {
  color: #666666;
  display: block;
  text-decoration: none;
  background: url("images/icons.png") no-repeat;
  background-position: 0px -999em;
}

.suite.passed {
  border-color: #49c267;
}

.suite.passed > .description {
  color: #666666;
  background-position: 0px -26px;
}

.suite.passed > .description:hover {
  color: #49c267;
}

.suite.failed {
  border-color: red;
}

.suite.failed > .description {
  color: red;
  background-position: 0px -78px;
}

.suite.skipped > .description {
  color: #999;
  background-position: 0px -52px;
  padding: 0 0 0 20px;
}

.suite .run_spec {
  display: none;
}

.spec {
  padding: 0.125em 0;
  margin: 0 0 0 1.25em;
  background: url("images/icons.png") no-repeat;
  background-position: 0px -999em;
}

.spec:last-child {
  padding-bottom: 0;
}

.spec.passed {
  display: none;
  padding-left: 18px;
  background-position: 0px 3px;
}

.spec.passed a {
  color: #666666;
  text-decoration: none;
}

.spec.passed a:hover {
  color: #49c267;
}

.spec.failed {
  margin: 0.25em 0 0 0;
  border: solid 2px #ff0000;
  padding: 0.25em 0.5em;
}

.spec.failed a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.spec.skipped {
  display: none;
}

.spec.skipped a {
  color: #999;
  text-decoration: none;
}

.resultMessage.fail {
  font-size: 1.25em;
  font-weight: bold;
  color: red;
  margin: 0.75em 0 0 0;
}

.stackTrace {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.7em;
  padding: 0.75em 0;
  color: #666666;
}

.show-skipped .spec.skipped {
  display: block;
}

.show-skipped .suite.skipped {
  display: block;
}

.show-passed .spec.passed {
  display: block;
}

.show-passed .suite {
  padding: 0.25em 0 0.5em 0;
}